.blockquote-footer::before {
  content: " "!important;
}

img {
  horizontal-align: center!important;
  align-items: center;
}

@media (min-width: 1400px) {
  .col-xxl-4 {
    width: 50%!important;
    flex: 0 0 auto !important;
  }
}

@media (min-width: 577px) {
  #outputIndustriesDiv {
    color: white!important;
    font-size: 68px;
    border: none;
    font-weight: 750;
    /*padding-top: 7%;*/
    font-family: inherit;
    /*visibility: cubic-bezier(1,1,1.0,0);*/
    /*animation: fadeOut 2s forwards;*/
    /*animation-delay: 5s;*/
    /*transition: opacity 1s ease;*/
  }
}

@media (max-width: 576px) {
  #outputIndustriesDiv {
    color: white!important;
    font-size: 44px;
    border: none;
    font-weight: 750;
    /*padding-top: 7%;*/
    font-family: inherit;
    /*visibility: cubic-bezier(1,1,1.0,0);*/
    /*animation: fadeOut 2s forwards;*/
    /*animation-delay: 5s;*/
    /*transition: opacity 1s ease;*/
  }
}

/* Custom CSS for the fade-out effect */

/* Add a class to trigger the fade-out after 3 seconds */

/* Keyframes animation for fade-out */

#contactconfirm {
  font-size: 72px;
  font-weight: 750;
  padding-top: 5%;
}

.implementation {
  /*vertical-align: middle!important;*/
  background-color: var(--bs-primary-bg-subtle)!important;
  /*text-decoration-color: inherit!important;*/
  height: 58px;
  /*align-content: center!important;*/
  /*text-align-last: left;*/
  /*text-align: justify!important;*/
  color: initial;
  display: flex;
  align-items: center!important;
  /*font-size: x-large!important;*/
  width: 100%;
}

.containertechnologies {
  background-color: #1C6CE8!important;
}

@media (min-width: 300px) {
  p {
    margin-bottom: 45px;
  }
}

@media (min-width: 300px) {
  .container {
    margin-top: 0px;
  }
}

#returndataai {
  align-content: center;
}

@media (max-width: 576px) {
  .texttitle {
    font-size: 48px;
    font-weight: 750;
  }
}

@media (min-width: 577px) {
  .texttitle, .text-nowrap {
    font-size: 68px;
    font-weight: 750;
  }
}

.ribackpar:hover .backtext {
  color: #1c6ce8!important;
  /*transform: rotate(315deg);*/
  /*transition: transform 0.1s ease;*/
}

.riback:hover .bi-arrow-up-right-square {
  color: #1c6ce8;
  transform: rotate(315deg);
  transition: transform 0.1s ease;
}

.riupwhite:hover .bi-arrow-up-right-square-fill {
  color: #ffffff;
  transform: rotate(45deg);
  transition: transform 0.1s ease;
}

.riup:hover .bi-arrow-up-right-square {
  color: #1c6ce8;
  transform: rotate(45deg);
  transition: transform 0.1s ease;
}

.hover-white-underline-animation:hover::after {
  transform: scaleX(1);
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}

.hover-white-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1c6ce8;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.hover-white-underline-animation {
  position: relative;
  color: #black;
  text-decoration: none;
}

.hover-underline-animation {
  position: relative;
  color: #black;
  text-decoration: none;
}

.card-body:hover .losegs {
  filter: grayscale(0%)!important;
}

.ml3 {
  font-weight: bold;
  font-size: 48px;
  /*display: none;*/
  opacity: 0;
}

@media (max-width: 992px) {
  .containercards {
    flex-flow: column;
    gap: 15px;
    display: flex;
  }
}

.containercards {
  display: flex;
  flex-flow: nowrap;
  gap: 15px;
}

@media (max-width: 1199px) {
  .containercards {
    flex-flow: column;
  }
}

@media (min-width: 1200px) {
  .containercards {
    flex-flow: nowrap;
  }
}

@media (max-width: 768px) {
  .colteam {
    width: 100%!important;
  }
}

