.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

h1 {
  font-size: 100px;
}

.wrapper {
  position: absolute;
  text-align: center;
  top: 25%;
  width: 100%;
  /*left: 500px;*/
  color: white;
  /*font-size: 10px;*/
  /*margin: 20px;*/
  /*H1: 10%;*/
  font-size: 72px;
  font-weight: 750;
  /*vertical-align: baseline;*/
}

a {
  color: var(--bs-body-color);
}

.blockquote {
  margin-bottom: 1rem;
  font-size: 2,5;
}

.blockquote {
  margin-bottom: 1rem;
  font-size: 2.8rem;
  color: #ffffff;
}

@media (min-width: 300px) {
  #blocktext {
    font-size: 38px;
  }
}

@media (min-width: 1200px) {
  #blocktext {
    font-size: 46px;
  }
}

.estediccolor {
  background-color: #1C6CE8 !important;
}

.card-body {
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
  /*min-height: 315px!important;*/
}

@media (max-width: 576px) {
  #blocktext-1 {
    font-size: 36px;
  }
}

@media (max-width: 576px) {
  #blocktext-2 {
    font-size: 36px;
  }
}

@media (max-width: 576px) {
  #blocktext-7 {
    font-size: 32px;
  }
}

@media (max-width: 400px) {
  #blocktext-5 {
    font-size: 36px;
  }
}

@media (max-width: 576px) {
  #blocktext-6 {
    font-size: 36px;
  }
}

.text-decoration-whitenone {
  text-decoration: none!important;
  color: #ffffff!important;
}

